body {
    background-color: black;
}

.amount{
    width: 4rem;
}
.navbar-light .navbar-brand {
    color: blue;
}


#addPair {
    height: 2rem;
    width: 3.3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: .4rem;
}

#space {
    margin-top: 2rem;
}

.time {
    height: 2rem;
    width: 3.3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: .4rem;
}

.btn-dark {
    border: none;
    outline: none;
    border-radius: .4rem;
}

.fundrow {
    border: 1px solid black;
    margin-top: 5em;
}

.chart {
    width: 100%;
    background-color: black;

}

.card-group .card-img-top {
    height: 50px;
}

.foryourow {
    margin-top: 5em;
}

.topmoversrow {
    margin-top: 5em;
}

.recentnewsrow {
    margin-top: 5em;
}

.list-group {
    margin-top: 2em;
}